@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design Header */
/* ------------------------------------------------------------------------------------------------------------------- */

.content-header {
  width: 100%;
  height: 120px;
  background-color: white;
  opacity: 95%;
  position: fixed;
  z-index: 10;
}

.header-wrapper {
  height: 100%;
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  height: 100px;
  display: none;
  margin-left: 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.item {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 25px;
  font-family: "Noticia Text", serif;
}

.item:hover {
  color: #274060;
}

.item.active {
  color: #274060;
  font-weight: bold;
  border-bottom: 2px solid #274060;
  line-height: 2rem;
}

.search {
  width: 240px;
  height: 30px;
  border-radius: 15px;
  padding-left: 15px;
  margin: 20px;
}

.search:hover {
  border-color: #274060;
}

.icon-search {
  text-decoration: none;
  color: black;
  margin-left: -50px;
  margin-right: 25px;
}

/* ------------------------------------------------- */
/* Design Menu burger */
/* ------------------------------------------------- */

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  display: none;
  z-index: 10;
}

.item-navigation-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-burger{
  width: 85%;
  text-align: start;
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 0;
  padding-left: 40px;
  font-family: "Noticia Text", serif;
  border-bottom: 3px solid #274060;
  line-height: 5rem;
}

.icon-search-burger{
  transform: translate(90px, -45px);
  text-decoration: none;
  color: black;
  border-color: #274060;
  margin-bottom: -30px;
}

.close{
  width: 100%;
  height: auto;
  font-size: 35px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

/* Icon menu burger */
.icon-burger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  display: none;
}

.burger-custom {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.panier {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
}
.panier:hover{
  color: white;
}
/* ------------------------------------------------- */
/* media/queries Menu burger (responsive) */
/* ------------------------------------------------- */

@media (max-width: 1400px) {
  .navigation {
    display: none;
  }
  .logo{
    display: none;
  }
  .img-logo{
    display: block;
  }
  .icon-burger{
    display: flex;
  }
}

/* ------------------------------------------------- */
/*Fin Menu burger */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Fenetre Panier article*/
/* ------------------------------------------------- */

.window-cart{
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 100vh;
  background-color: white;
  display: none;
  overflow: auto;
}


.close-cart{
  width: 100%;
  height: auto;
  font-size: 35px;
  padding: 30px 40px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.title-cart{
  width: 85%;
  margin: auto;
  line-height: 6rem;
  text-align: center;
  font-family: "Noticia Text", serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #274060;
}

.title-area-article{
  font-size: 25px;
  margin-top: 30px;
  margin-left: 50px;
  font-family: "Noticia Text", serif;
  font-weight: bold;
}

.info-article{
  width: 90%;
  height: auto;
  margin: auto;
}

.article{
  width: 100%;
  height: 220px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
}

.watch-cart{
  width: 130px;
  height: auto;
}

.title-article{
  margin-left: 60px;
  color: black;
  font-size: 25px;
}

.price-article{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity, .price-watch{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qte, .prix{
  font-size: 20px;
}

.price-custom{
  font-size: 25px;
}

.icon-quantity .quantity-custom{
  padding: 5px 15px;
  margin: 5px 15px;
  border-left: 2px solid #274060;
  border-right: 2px solid #274060;
}

.fa-minus, .fa-plus{
  cursor: pointer;
}

.title-recap{
  width: 95%;
  margin: auto;
  font-size: 25px;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 30px;
  border-top: 2px solid #274060;
  font-family: "Noticia Text", serif;
  font-weight: bold;
}

.recap-article{
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.item-recap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 2rem;
}

.btn-commande{
  text-align: center;
  border-radius: 20px 0px 20px 0px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: transparent;
  color: #274060;
  border: 3px solid #274060;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
}

.show {
  display: block;
}

/* ------------------------------------------------- */
/* media/queries fenetre panier (responsive) */
/* ------------------------------------------------- */

@media (max-width: 700px) {
  .window-cart{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .article{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title-article{
    margin-left: 0px;
    text-align: center;
  }
  .price-article{
    position: relative;
    width: 400px;
  }
}
@media (max-width: 400px) {
  .title-cart{
    width: 80%;
    margin: auto;
    font-size: 25px;
  }
  .title-area-article{
    font-size: 20px;
  }
  .title-article{
    font-size: 20px;
  }
  .title-recap{
    width: 85%;
    font-size: 20px;
  }
  .item-recap{
    font-size: 15px;
  }
  .btn-commande{
    padding: 8px 20px;
    font-size: 15px;
  }
  .price-article{
    position: relative;
    width: 100%;
  }
}

/* ------------------------------------------------- */
/* Fin fenetre panier */
/* ------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------- */
/* Fin Header*/
/* -------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------- */
/* First page*/
/* -------------------------------------------------------------------------------------------------------------------- */

.first-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* ------------------------------------------------- */
/* Carousel */
/* ------------------------------------------------- */
.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel img {
  transition: opacity 1.5s ease-in-out;
}

.carousel img.show {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.carousel img.hidden {
  display: none;
}

/* ------------------------------------------------- */
/* Fin Carousel */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Button Carousel */
/* ------------------------------------------------- */

.btn-arrow {
  position: absolute;
  padding: 30px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 5;
  color: white;
  font-size: 25px;
  margin-right: 10%;
  top: 80%;
}
#prev {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#next {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  cursor: pointer;
}

/* ------------------------------------------------- */
/* Titre principal sur First page */
/* ------------------------------------------------- */

.title-principal {
  position: absolute;
  top: 55%;
  left: 10%;
  color: white;
  line-height: 2rem;
  font-family: "Noticia Text", serif;
}

.title-principal h1 {
  font-size: 70px;
}
.title-principal p {
  font-size: 25px;
  margin-top: 30px;
}
.btn-title {
  border-radius: 20px 0px 20px 0px;
  padding: 8px 35px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  margin-top: 30px;
}

/* ----------------------------------------------------------------- */
/* circle page actif carousel */
/* ------------------------------------------------------------------ */

.point-actif{
  position: absolute;
  display: flex;
  top: 93%;
}


.circle-item{
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #707070;
  margin: 20px;
}

.circle-item.actif{
  background-color: white;
}
.circle-item.no-actif{
  background-color: #707070;
}
/* fin cercle actif carousel */

/* ----------------------------------------------------------------- */
/* media/queries First page (responsive)  */
/* ------------------------------------------------------------------ */

@media (max-width: 1200px) {
  .title-principal h1 {
    font-size: 50px;
  }
  .title-principal p {
    font-size: 18px;
  }
  .btn-title {
    padding: 5px 25px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .title-principal {
    top: 65%;
  }

  .title-principal h1 {
    font-size: 40px;
  }
  .title-principal p {
    display: none;
  }
  .btn-title {
    padding: 3px 20px;
    font-size: 13px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    margin-top: 30px;
  }
  .btn-arrow {
    display: none;
  }
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Contenu principal */
/* -------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Page catagory catalogue */
/* ------------------------------------------------------------------ */
.category{
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px
}

.category-title{
  width: 100%;
  padding-left: 200px;
  padding-top: 60px;
  font-size: 70px;
  font-weight: bold;
  font-family: "Noticia Text", serif;
  color: #274060;
}
.title-superposition{
  position: absolute;
  font-size: 150px;
  font-weight: bold;
  font-family: "Noticia Text", serif;
  color: #274060;
  opacity: 13%;
  transform: translate(35%, -170px);
}

.item-grid{
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.grid-catalogue{
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 550px);
  grid-template-rows: repeat(1, 550px);
  grid-template-areas:'grid-1 grid-2 grid-3';
  gap: 75px;
  justify-content: center;
}

.grid-1{
  grid-area: grid-1;
  background-image: url(../img/montre-automatic.jpg);
  background-position: center;
  background-size: cover;
}
.grid-2{
  grid-area: grid-2;
  background-image: url(../img/montre-acier.jpg);
}
.grid-3{
  grid-area: grid-3;
  background-image: url(../img/montre-luxe.jpg);
}

.title-catalogue{
  color: white;
  font-size: 40px;
}

.info-card{
  margin-left: 50px;
  margin-bottom: 35px;
}

.btn-catalogue{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  padding: 8px 35px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  margin-top: 30px;
}

/* ----------------------------------------------------------------- */
/* media/queries section catalogue (responsive)*/
/* ------------------------------------------------------------------ */

@media (max-width: 1800px) {
  .item-grid{
    width: 500px;
    height: 500px;
  }
  .grid-catalogue{
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 1600px) {
  .item-grid{
    width: 400px;
    height: 400px;
  }
  .grid-catalogue{
    display: flex;
    gap: 30px;
  }
  .btn-catalogue{
    padding: 5px 28px;
    font-size: 16px;
    margin-top: 20px;
  }
  .info-card{
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .title-catalogue{
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .category-title{
    text-align: center;
    padding: 0;
  }
  .item-grid{
    width: 550px;
    height: 550px;
  }
  .grid-catalogue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
  }
  .title-superposition{
    display: none;
  }
  .btn-catalogue{
    padding: 8px 35px;
    font-size: 20px;
    margin-top: 30px;
  }
  .info-card{
    margin-left: 50px;
    margin-bottom: 35px;
  }
  .title-catalogue{
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .item-grid{
    width: 450px;
    height: 450px;
  }
  .grid-catalogue{
    gap: 60px;
  }
  .btn-catalogue{
    padding: 5px 28px;
    font-size: 16px;
    margin-top: 20px;
  }
  .info-card{
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .title-catalogue{
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .item-grid{
    width: 400px;
    height: 400px;
  }
  .grid-catalogue{
    gap: 60px;
  }
}

/* ----------------------------------------------------------------- */
/* Section title et séparateur watch populaire/
/* ------------------------------------------------------------------ */

.watch-popular{
  width: 100%;
  height: auto;
}

.separator{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (repeat(1, 1fr));
  grid-template-areas: 'separator-left title separator-right';
}

.separator-left{
  grid-area: separator-left;
  width: 550px;
  height: 4px;
  background-color: #274060;
  margin: auto;
}
.title-watch-popular{
  grid-area: title;
  font-size: 45px;
  color: #274060;
  font-family: "Noticia Text", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator-right{
  grid-area: separator-right;
  width: 550px;
  height: 4px;
  background-color: #274060;
  margin: auto;
}

/* ----------------------------------------------------------------- */
/* media/queries title et séparateur watch populaire(responsive)*/
/* ------------------------------------------------------------------ */

@media (max-width: 1600px) {
  .separator-left{
    width: 450px;
  }
  .title-watch-popular{
    font-size: 40px;
  }
  .separator-right{
    width: 450px;
  }
}
@media (max-width: 1450px) {
  .separator-left{
    width: 350px;
  }
  .title-watch-popular{
    font-size: 35px;
  }
  .separator-right{
    width: 350px;
  }
}
@media (max-width: 1150px) {
  .separator-left{
    width: 250px;
  }
  .title-watch-popular{
    font-size: 30px;
  }
  .separator-right{
    width: 250px;
  }
}
@media (max-width: 900px) {
  .separator{
    display: flex;
    justify-content: center;
  }
  .separator-left{
    display: none;
  }
  .title-watch-popular{
    font-size: 50px;
    text-align: center;
    border-bottom: 3px solid #274060;
  }
  .separator-right{
    display: none;
  }
}

/* ----------------------------------------------------------------- */
/* Section page watch populaire*/
/* ------------------------------------------------------------------ */

.section-watch-newport{
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.text-watch{
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-newport{
  font-size: 50px;
  text-align: center;
  font-family: "Noticia Text", serif;
}
.description-newport{
  font-size: 20px;
  margin-top: 40px;
}
.description-newport b{
  font-size: 30px;
}
.btn-newport{
  text-align: center;
  border-radius: 20px 0px 20px 0px;
  padding: 8px 35px;
  font-size: 20px;
  background-color: transparent;
  color: #274060;
  border: 3px solid #274060;
  margin-top: 30px;
}

.img-newport{
 margin: auto;
}

/* ----------------------------------------------------------------- */
/* media/queries section watch populaire (responsive)*/
/* ------------------------------------------------------------------ */

@media (max-width: 1600px) {
  .newport-chrono{
    width: 700px;
    height: auto;
  }
}

@media (max-width: 1350px) {
  .section-watch-newport{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-newport{
    margin-top: 50px;
  }
  .newport-chrono{
    width: 100%;
    height: auto;
  }
  .title-newport{
    font-size: 40px;
  }
  .text-watch{
    width: auto;
  }
}
@media (max-width: 600px) {
  .title-newport{
    font-size: 30px;

  }
  .title-watch-popular{
    font-size: 35px;
  }
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* Section page contenu de tout les articles*/
/* -------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Pop up de mise au panier*/
/* ------------------------------------------------------------------ */

.section-product{
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}

.info-display{
  font-size: 25px;
  font-family: "Noticia Text", serif;
  margin-left: 8%;
  margin-top: 40px;

}

.notif{
  position:fixed;
  width: auto;
  height: 60px;
  padding: 20px;
  background-color: #274060;
  opacity: 95%;
  color: white;
  border-radius: 20px;
  left: 85%;
  top: 90%;
  display: none;
  z-index: 50;
}

.pop-up{
  display: block;
}

/* ----------------------------------------------------------------- */
/* media/queries pop up (responsive)*/
/* ------------------------------------------------------------------ */

@media (max-width: 1700px) {
  .notif{
    left: 80%;
    top: 90%;
  }
}
@media (max-width: 1400px) {
  .notif{
    left: 75%;
    top: 90%;
  }
}
@media (max-width: 900px) {
  .notif{
    left: 35%;
    top: 3%;
    z-index: 10;
  }
}

/* ----------------------------------------------------------------- */
/* initialisation des class de couleur pour les étiquettes des produits*/
/* ------------------------------------------------------------------ */

.violet{
  color: #9A48D0;
  border-color: #9A48D0;
}
.orange{
  color: #E4572E;
  border-color: #E4572E;
}
.vert{
  color: #9D9C62;
  border-color: #9D9C62;
}
.rouge{
  color: #A61C3C;
  border-color: #A61C3C;
}
.none{
  color: transparent;
  border-color: transparent;
}

/* ----------------------------------------------------------------- */
/* Design et mise en page de chaque produit*/
/* ------------------------------------------------------------------ */

.grid-product{
  width: 90%;
  margin: auto;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
  column-gap: 80px;
}



.watch-item{
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.button-product{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn-label{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  padding: 6px 18px;
  font-size: 14px;
  background-color: transparent;
  /* color: #9A48D0; */
  border: 3px solid;
  margin-top: 30px;
}

.img-watch{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-product{
  width: 200px;
  height: 350px;
}

.separator-product{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.line{
  width: 100%;
  height: 3px;
  background-color: #274060;
}

.info-product{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-product{
  font-size: 28px;
  margin-top: 20px;
}

.price{
  font-size: 30px;
  margin-top: 20px;
}

.reduc-price{
  font-size: 15px;
  height: 5px;
  text-decoration: line-through;
}

.cart{
  font-size: 18px;
  margin-top: 10px;
  border: none;
  background: none;
  color: #274060;
}
.arrow-btn{
  margin-left: 12px;
}

/* ------------------------------------------------------------------------------------ */
/* Deuxième section de produits après avoir cliqué sur le button 'Voir plus'*/
/* ------------------------------------------------------------------------------------ */

.grid-product-2{
  width: 90%;
  margin: auto;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
  column-gap: 80px;
  display: none;
}

.see-more{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.item-2{
  margin-top: 0;
  margin-bottom: 50px;
}

.btn-autre-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  padding: 8px 35px;
  font-size: 20px;
  background-color: transparent;
  color: #274060;
  border: 3px solid #274060;
}
.btn-autre-2{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  padding: 8px 35px;
  font-size: 20px;
  background-color: transparent;
  color: #274060;
  border: 3px solid #274060;
  display: none;
}

.show-product{
  display: flex;
}

.hiddenContent{
  display: none;
}

/* --------------------------------------- */
/* button scroll top */
/* --------------------------------------- */

.btn-scroll-top{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.btn-scroll-top .fa-chevron-up{
  color: white;
  font-size: 30px;
}

@media (max-width: 700px) {
  .btn-scroll-top{
    display: none;
  }
}



/* ----------------------------------------------------------------- */
/* Fin de la sections produits*/
/* ------------------------------------------------------------------ */



/* ---------------------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------------------- */

.footer-wrapper{
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #274060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-footer{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Noticia Text", serif;
}

.info-company{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer{
  width: 250px;
  height: 250px;
}

.service, .contact{
  color: white;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  text-align: start;
}

.contact{
  transform:translateY(20px);
}

.service ul, .contact ul{
  list-style-type: none;
  padding: 0;
  text-align: start;
}

.title-item-footer{
  width: 100px;
  font-size: 35px;
  border-bottom: 2px solid white;
  white-space: nowrap;
}

.liste-info li{
  font-size: 20px;
  text-decoration: underline;
  line-height: 3rem;
  color: white;
}

.liste-info a{
  color: white;
}

.icon-footer{
  margin-right: 10px;
}

.span-city{
  padding-left: 23px;
}

.liste-info .fab{
  font-size: 25px;
  margin-right: 15px;
}

.mention{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.mention-legal, .cgv{
  color: white;
  font-size: 18px;
}

.mention-legal:hover{
  color: white;
}
.cgv:hover{
  color: white;
}

/* ----------------------------------------------------------------- */
/* media/queries Footer (responsive)*/
/* ------------------------------------------------------------------ */

@media (max-width: 1600px) {
  .liste-info li{
    font-size: 18px;
    line-height: 2rem;
  }
  .service{
    transform: translateY(-10px);
    margin-left: 20px;
  }
  .map-footer{
    width: 400px;
    height: 300px;
  }
  .title-item-footer{
    font-size: 25px;
  }
  .logo-footer{
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1150px) {
  .logo-footer{
    display: none;
  }
  .map-footer{
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 900px) {
  .map-footer{
    display: none;
  }
}

@media (max-width: 600px) {
  .info-company{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .logo-footer{
    display: block;
    margin-bottom: 50px;
  }
  .service ul, .contact ul{
    text-align: center;
  }
  .title-item-footer{
    width: auto;
    text-align: center;
    border: none;
    font-size: 30px;
  }
  .service{
    margin-bottom: 30px;
  }
  .icon-footer{
    margin-top: 20px;
  }
  .mention{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
  }
}
/* ----------------------------------------------------------------- */
/* Fin footer*/
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------- */
  /* Fin code css */
/* ------------------------------------------------------------------------------------------------------------------- */